// Global styles.
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box
}

// We wish to define the font-size on the html/body elements in pixels to ensure consistency.
html, body {
  color: map-get($colours, grey-light);
  font: normal 16px/1.5 nth(map-get($fonts, fonts), map-get($fonts, primary-font)), $font-stack;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  overflow: hidden;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.img--responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#dummy {
  position: relative;
}

[data-something^="mine"] {
  position: relative;
}


.a-change {
  position: relative;
}
