.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}


.tabular {
  display: table;

  .tabular--cell {
    display: table-cell;
    vertical-align: middle;
  }
}
.tabular--align-top {
  .tabular--cell {
    vertical-align: top;
  }
}
.tabular--align-bottom {
  .tabular--cell {
    vertical-align: bottom;
  }
}


// Screen-reader only.
.sr-only {
  @include size(1px);
  border: 0;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  @include size(auto);
  clip: auto;
  margin: 0;
  overflow: visible;
  position: static;
}


// Remove the top margin from the first child element.
.flat-top {
  > *:first-child {
    margin-top: 0;
  }
}

// Remove the bottom margin from the last child element.
.flat-bottom {
  > *:last-child {
    margin-bottom: 0;
  }
}


// Force-remove the top padding.
.no-padding-top {
  padding-top: 0 !important;
}

// Force-remove the bottom padding.
.no-padding-bottom {
  padding-bottom: 0 !important;
}
