// Auto Columns; Uses CSS Quantity Queries to gridify elements.
// $max: limits the amount of iterations required, set this to avoid extrenuos CSS rules that will not be used.
@mixin auto-columns($max: map-get($grid-settings, columns)) {
  @for $i from 1 through $max {
    @if $i > 1 {
      .column:nth-last-child(n+#{$i}):first-child,
      .column:nth-last-child(n+#{$i}):first-child ~ .column {
        width: percentage(1 / $i);
      }
    }
  }
}
